on early-init
    device mtd@misc 0460 radio diag

# Set timeout value for rmnet stats.
    write /sys/devices/virtual/net/rmnet0/timeout_suspend 5000000
    write /sys/devices/virtual/net/rmnet0/timeout 18000000

on boot
# unmap left alt to avoid console switch
    setkey 0x0 0x38 0x0
# reset SEND+MENU+END
    setkey 0x0 0xe7 0x706
    setkey 0x0 0x8b 0x707

    setkey 0x40 0xe7 0x706
    setkey 0x40 0x8b 0x707

    setkey 0x80 0xe7 0x706
    setkey 0x80 0x8b 0x707

    setkey 0xc0 0xe7 0x706
    setkey 0xc0 0x8b 0x707
    setkey 0xc0 0x6b 0x20c

    chown radio system /sys/android_power/state
    chown radio system /sys/android_power/request_state
    chown radio system /sys/android_power/acquire_full_wake_lock
    chown radio system /sys/android_power/acquire_partial_wake_lock
    chown radio system /sys/android_power/release_wake_lock
    chown radio system /sys/power/state
    chown radio system /sys/power/wake_lock
    chown radio system /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/leds/keyboard-backlight/brightness
    chown system system /sys/class/leds/keyboard1-backlight/brightness
    chown system system /sys/class/leds/keyboard2-backlight/brightness
    chown system system /sys/class/leds/keyboard-tcmd/brightness
    chown system system /sys/class/leds/keyboard1-tcmd/brightness
    chown system system /sys/class/leds/keyboard2-tcmd/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/suspend
    chown system system /sys/class/leds/lcd-nr-backlight/brightness
    chown system system /sys/class/leds/button-backlight/brightness
    chown system system /sys/class/leds/jogball-backlight/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness
    chown media media /sys/class/leds/af-led/brightness  # Motorola, rknize2, 12/05/09, IKMAP-1294
    chown system system /sys/class/leds/red/device/grpfreq
    chown system system /sys/class/leds/red/device/grppwm
    chown system system /sys/class/leds/red/device/blink
    chown system system /sys/class/leds/button-tcmd/brightness
    chown system system /sys/class/leds/messaging/brightness
    chown system system /sys/class/leds/messaging/blink
    chown system system /sys/class/leds/soc/brightness
    chown system system /sys/class/leds/soc/blink
    chown system system /dev/als
    chmod 0664 /dev/als
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/module/sco/parameters/disable_esco
    chown system system /sys/kernel/ipv4/tcp_wmem_min
    chown system system /sys/kernel/ipv4/tcp_wmem_def
    chown system system /sys/kernel/ipv4/tcp_wmem_max
    chown system system /sys/kernel/ipv4/tcp_rmem_min
    chown system system /sys/kernel/ipv4/tcp_rmem_def
    chown system system /sys/kernel/ipv4/tcp_rmem_max
    chown system system /dev/proximity
    chown system system /sys/devices/platform/sfh7743.-2/proximity
    chown root radio /proc/cmdline
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /proc/bt_power
    chown system system /sys/module/sco/parameters/disable_esco
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chmod 0666 /dev/msm_snd

# Vibrator
    chown system system /sys/class/vibrator/vibrator/enable

# Broadcom stuff
    mkdir /data/misc/wifi 0770 system wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp
    chown bluetooth bluetooth /sys/module/board_morrison/parameters/bluetooth_power_on
    chmod 0660 /sys/module/board_morrison/parameters/bluetooth_power_on

# 12m
    mkdir /data/local/12m 0771 system system
    mkdir /data/local/12m/batch 0771 system system
    mkdir /data/local/12m/batch/log 0771 system system
 
#  E-compass  
    chown system system /dev/akm8973_aot
    chown system system /dev/akm8973_dev

# Accelerometer
    chown system system /sys/class/i2c-adapter/i2c-0/0-0018/mode
    chmod 0664 /sys/class/i2c-adapter/i2c-0/0-0018/mode
    chown system system /dev/accelerometer
    chmod 0664 /dev/accelerometer
    chown system system /dev/lis331dlh
    chmod 0664 /dev/lis331dlh

# Permissions changes needed for TCMD
    chown system system /dev/blan_enable
    chmod 0660 /dev/blan_enable
    chown system system /dev/misc_helper
    chmod 0660 /dev/misc_helper
    chown system graphics /dev/graphics/fb0

# Permissions needed for port_bridge
    chown root system /dev/ttyHSUSB0
    chmod 0660 /dev/ttyHSUSB0

# Clearing FM/BT reference count temp file  contents
    write /data/bluedroid_ref 123456
    chmod 0777 /data/bluedroid_ref

# Set WiFi interface name
    setprop wifi.interface eth0

# Set up touchpad
    chown system system /dev/touchpad
    chmod 0664 /dev/touchpad

# Modemlog
service modemlog /system/bin/modemlog
    class TOOL
    user system
    oneshot

# MMClog
service mmclog /system/bin/mmclog
    class TOOL
    oneshot

#bluetooth 
service hciattach /system/bin/brcm_patchram_plus --enable_hci --enable_lpm \
    --baudrate 4000000 --patchram /etc/firmware/bcm4325.hcd /dev/ttyHS0
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot


# Touchpad driver
service touchpad /system/bin/touchpad -a /data/touchpad.log
    class HW
    user system
    oneshot

service dhcpcd /system/bin/dhcpcd -B eth0
    class WLAN
#	user system - this makes socket() calls fail with permission denied
	group dhcp
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -D wext -i eth0 -c /data/misc/wifi/wpa_supplicant.conf
    class WLAN
#	user system - this makes socket() calls fail with permission denied
	group wifi
    disabled
    oneshot
    
# E-compass  daemon
service akmd2 /system/bin/akmd2 -f /system/etc/akm/akmd_set.cfg
	user system
	group input
    class HW
    oneshot

## TCMD
service tcmd /system/bin/tcmd_engine usb0
#    user system - this makes reboot failing
#    group system inet
    class TCMD

service port_bridge /system/bin/port_bridge /dev/smd0 /dev/ttyHSUSB0
	user radio
	group system
    class TCMD

service fuel_gauge /system/bin/fuel_gauge --all
    class TCMD
    oneshot    
    
service qmuxd /system/bin/qmuxd
    class HW


